<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644324286173-u5gltv1vm8eou16b6hh7ue3ebqksmlds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644324286173-u5gltv1vm8eou16b6hh7ue3ebqksmlds</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ5NerOdggM65Y0_6lAqgB6Htot0FofLk</string>
	<key>GCM_SENDER_ID</key>
	<string>644324286173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.ques</string>
	<key>PROJECT_ID</key>
	<string>ques-1b24c</string>
	<key>STORAGE_BUCKET</key>
	<string>ques-1b24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644324286173:ios:1772c0182d5728d5e38534</string>
</dict>
</plist>